<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <title>Home</title>
</head>
<body>
    <%- include('../partials/nav.ejs')  %> 
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
            <% for(product of products) { %> 
                <div class="cell small-12 medium-6 large-4">
                    <div class="card ">
                        <a href="/<%= product._id %> "><img src="<%= product.img %> " alt=""></a> 
                        <div class="card-divider">
                            <span class='productHeader'><%= product.brand %> <%= product.subtype %> "<%= product.name %>"</span>
                        </div>
                    </div>
                </div>
                <% } %> 
        </div>
    </div>
</body>
</html>