<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/nav.ejs') %> 

    <div class="grid-container showContainer">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="#">Sneakers</a></li>
            <li><a href="#"><%= product.brand %></a></li>
            <li><%= product.name %> </li>
        </ul>
        <section class='cell medium-6 large-6 columns'>
            <h1 id='showHeader'><%= product.name %> </h1>
            <img class='showImg'src="<%= product.img %> " alt="">
        </section>

        <section class='textBlock cell medium-4 medium-offset-9 columns'>
            <p class="price">Price: <span class='productPrice'>$<%= product.price %></span></p>    
            <p class="stock">Left In Stock: <span class="productStock"><%= product.qty %> </span></p>
            
            <button class='button large info'>Buy</button>
        </section>
        <div class='showDescription'><%= product.description %> </div>
    </div>
    <img id='brandLogo' src="<%= product.brandLogo %> " alt="">
</body>
</html>