<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')  %>
<body>
    <%- include('../partials/nav.ejs') %> 
    <div class="NAMEO">
        Manuelllllll
    </div>
    <!-- <div class="grid-container">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="#">Sneakers</a></li>
            <li><a href="#"><%= product.brand %></a></li>
            <li><%= product.name %> </li>
        </ul>
        <section class='cell large-12'>
            <h1 id='showHeader'><%= product.name %> </h1>
            <img class='showImg'src="<%= product.img %> " alt="">
        </section>

        <section class='cell medium-6 medium-offset-6'>
            Price: $<%= product.price %> 
            Left In Stock: <%= product.qty %> 
            <button class='button large info'>Buy</button>
            <div><%= product.description %> </div>
        </section>
    </div>
    <img id='brandLogo' src="<%= product.brandLogo %> " alt=""> -->
</body>
</html>