<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <title><%= product.name %> </title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 

    <div class="grid-container showContainer">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="#">Sneakers</a></li>
            <li><a href="/search/<%= product.brand %>"><%= product.brand %></a></li>
            <li><a href="/search/<%= product.subtype %>  "><%= product.subtype %> </a></li>
            <li><%= product.name %> </li>
        </ul>
        <section class='cell medium-6 large-6 columns'>
            <h1 id='showHeader'><%= product.brand %> <%= product.subtype %>  "<%=product.name %>"</h1>
            <img class='showImg'src="<%= product.img %> " alt="">
        </section>

        <section class='textBlock cell medium-4 medium-offset-9 columns'>
            <p class="price">Price: <span class='productPrice'>$<%= product.price %></span></p>    
            <p class="stock">Left In Stock: <span class="productStock"><%= product.qty %> </span></p>
            
            <form action="/<%= product._id %>/buy" method='GET'>
                <input class='button large info' <%= product.qty ? '' : 'disabled' %>  type="submit"value="<%= product.qty ? 'BUY' : 'Out of Stock' %>" <% if(!user) { %> disabled <% } %> >
            </form>
            <form action="/<%= product._id %>/?_method=DELETE" method='POST'>
                <input type="submit" value="Delete" class='button small alert' <% if(!user) { %> style='display:none' <% } %> >
            </form>
        </section>
        <div class='showDescription'><%= product.description %> </div>
    </div>
    
      
    <img id='brandLogo' src="<%= product.brandLogo %> " alt="">
</body>
</html>